@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-siziling: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Light.eot");
  src: local("../fonts/Futura PT Light"), local("../fonts/FuturaPT-Light"), url("../fonts/FuturaPT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Light.woff") format("woff"), url("../fonts/FuturaPT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Cond Book';
  src: url("../fonts/FuturaPTCond-Book.eot");
  src: local("../fonts/Futura PT Cond Book"), local("../fonts/FuturaPTCond-Book"), url("../fonts/FuturaPTCond-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPTCond-Book.woff") format("woff"), url("../fonts/FuturaPTCond-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Segoe UI Italic';
  src: url("../fonts/Segoe UI Italic.eot");
  src: local("☺"), url("../fonts/Segoe UI Italic.woff") format("woff"), url("../fonts/Segoe UI Italic.ttf") format("truetype"), url("../fonts/Segoe UI Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100%;
  background: #ffffff;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  position: absolute;
}

._ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

._ibg {
  position: relative;
}

[class*="__container"] {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lock {
  overflow: hidden;
}

header {
  z-index: 50;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__body {
  z-index: 50;
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .menu__body {
    gap: 3px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.menu__logo {
  z-index: 4;
  display: block;
  width: 100%;
}

.menu__logo svg {
  width: 100%;
}

.menu__logo.logo-active {
  stroke: #ffffff;
}

.menu__contact {
  z-index: 5;
  padding-left: 500px;
}

@media (max-width: 1024px) {
  .menu__contact {
    padding-left: 110px;
  }
}

@media (max-width: 600px) {
  .menu__contact {
    padding-left: 10px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

@media (max-width: 475px) {
  .menu__list {
    gap: 15px;
  }
}

@media (max-width: 1024px) {
  .menu__list {
    padding-left: 40px;
  }
}

.menu__link:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link span {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.elden {
  margin-top: 273px;
}

@media (max-width: 425px) {
  .elden {
    margin-top: 57px;
  }
}

.elden__colum-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .elden__colum-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.elden__high {
  z-index: 3;
  padding-left: 162px;
}

@media (max-width: 1066px) {
  .elden__high {
    padding-left: 32px;
  }
}

.elden__high a {
  padding-top: 50px;
  margin-right: -61px;
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  color: #272727;
  position: relative;
}

@media (max-width: 1024px) {
  .elden__high a {
    margin-right: 3px;
  }
}

.elden__high a:before {
  content: '';
  position: absolute;
  width: 130px;
  height: 1px;
  left: 90px;
  top: 60px;
  border: 1px solid #272727;
}

@media (max-width: 900px) {
  .elden__high a:before {
    left: 0px;
  }
}

@media (max-width: 425px) {
  .elden__high a:before {
    top: 50px;
  }
}

.elden__tittle {
  font-family: 'Forum';
  font-style: normal;
  font-size: 64px;
  line-height: 71px;
  /* identical to box height */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #272727;
}

.elden__images {
  padding-left: 136px;
  z-index: 2;
}

@media (max-width: 1066px) {
  .elden__images {
    padding-left: 2px;
  }
}

.elden .elden-top {
  padding-top: 359px;
}

@media (max-width: 768px) {
  .elden .elden-top {
    padding-top: 150px;
  }
}

@media (max-width: 425px) {
  .elden .elden-top {
    padding-top: 100px;
  }
}

.elden .elden-top__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.elden .elden-top__language {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.elden .elden-top__ru {
  color: #272727;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.elden .elden-top__en {
  color: #C4C4C4;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.elden .elden-top__price {
  z-index: 2;
}

.elden .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.elden .price :not(:last-child) {
  margin-bottom: 5px;
}

.elden .price__tittle {
  line-height: 21px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 425px) {
  .elden .price__tittle {
    color: #030303;
  }
}

.elden .price__subtittle {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  color: #C2C2C2;
}

.elden .price__money {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #EFC58B;
}

.black {
  content: '';
  position: absolute;
  width: 39.0%;
  height: 1024px;
  top: 0;
  right: 0;
  background-color: #272727;
  z-index: 1;
}

@media (max-width: 768px) {
  .black {
    background-color: #131212c9;
    width: 50.0%;
    height: 1170px;
  }
}

@media (max-width: 792px) {
  .black {
    height: 1070px;
  }
}

@media (max-width: 768px) {
  .black {
    height: 961px;
  }
}

@media (max-width: 468px) {
  .black {
    height: 1030px;
  }
}

@media (max-width: 425px) {
  .black {
    height: 764px;
  }
}

.fixet {
  /*скролл для бургера  */
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #272727;
  padding: 100px 30px 30px 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: auto;
  z-index: 3;
}

.fixet__icon {
  z-index: 100;
  display: block;
  position: relative;
  width: 50px;
  height: 18px;
  cursor: pointer;
}

.fixet__icon span, .fixet__icon:before, .fixet__icon:after {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #f3ecec;
}

.fixet__icon:before, .fixet__icon:after {
  content: '';
}

.fixet__icon:before {
  top: 0;
}

.fixet__icon:after {
  bottom: 0;
}

.fixet__icon span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

.fixet__icon._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.fixet__icon._active::before {
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
  top: 50%;
}

.fixet__icon._active::after {
  -webkit-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
  top: 50%;
}

.fixet._active {
  left: 0%;
  padding: 100%;
  overflow: auto;
}

.shop {
  padding-top: 100px;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #272727;
  -webkit-transition: all 1.3s cubic-bezier(0.75, -1, 0.21, -1);
  transition: all 1.3s cubic-bezier(0.75, -1, 0.21, -1);
  overflow: auto;
}

.shop:before {
  content: "";
  position: fixed;
  width: 100%;
  top: 0%;
  left: -100%;
  height: 100px;
  background-color: #272727;
  z-index: 5;
}

.shop.active {
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: #272727;
  overflow: auto;
  z-index: 3;
}

.shop.active:before {
  content: "";
  left: 0%;
}

.shop a {
  color: #C2C2C2;
}

.shop .header-shop {
  padding-top: 56px;
  z-index: 4;
}

.shop .header-shop__list {
  gap: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
  background-color: #2f2f2f;
  min-height: 75px;
  width: 100%;
  padding-left: 54px;
  padding: 5px 0 5px 54px;
}

@media (max-width: 800px) {
  .shop .header-shop__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.3125rem;
  }
}

.shop .header-shop__link {
  cursor: pointer;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 30px;
}

@media (any-hover: hover) {
  .shop .header-shop__link:hover {
    border-bottom: 4px solid black;
  }
}

.shop .sub-menu-catalog {
  position: relative;
}

.shop .sub-menu-catalog__block {
  display: none;
}

.shop .sub-menu-catalog__sumbit {
  display: none;
  color: #C2C2C2;
  font-size: 24px;
  top: 50px;
  left: 56px;
  position: absolute;
}

@media (max-width: 800px) {
  .shop .sub-menu-catalog__sumbit {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: transparent;
  }
}

.shop .sub-menu-catalog .sub-menu-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 70px;
}

@media (max-width: 800px) {
  .shop .sub-menu-catalog .sub-menu-open {
    z-index: 4;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: auto;
    background-color: #272727;
    padding: 100px 30px 30px 30px;
    transition: all 0.3s ease;
    z-index: 3;
    opacity: 1.0;
  }
}

.shop .sub-menu-catalog__colum {
  margin: 100px 5px 0 57px;
  gap: 100px;
}

@media (max-width: 800px) {
  .shop .sub-menu-catalog__colum {
    margin: 50px 5px 0 57px;
  }
}

.shop .sub-menu-catalog__category {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  margin-bottom: 15px;
}

.shop .sub-menu-catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  white-space: nowrap;
  row-gap: 15px;
}

.shop .sub-menu-catalog__item-fotter {
  color: yellow;
}

.shop .sub-menu-catalog__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.shop__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.shop .bottom-shop {
  z-index: 3;
  padding-top: 472px;
}

@media (max-width: 1024px) {
  .shop .bottom-shop {
    padding-top: 192px;
  }
}

.shop .bottom-shop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .shop .bottom-shop__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.shop .bottom-shop__body .shop-input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 280px;
          flex: 0 1 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1024px) {
  .shop .bottom-shop__body .shop-input {
    margin-top: 14px;
  }
}

.shop .bottom-shop__body .shop-input a:hover {
  text-decoration: underline;
}

.shop .bottom-shop__body .shop-input__colum:not(:last-child) {
  margin-bottom: 48px;
}

.shop .bottom-shop__body .shop-input__colum p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.shop .bottom-shop__body .shop-input__colum p:hover {
  color: #c598eb;
}

.shop .bottom-shop__body .shop-input__colum p:not(:last-child) {
  margin-bottom: 15px;
}

.shop .bottom-shop__body .shop-input__colum a {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #7a7878;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop .bottom-shop__body .shop-input__colum a:not(:last-child) {
  margin-bottom: 15px;
}

.shop .bottom-shop__body .shop-input__sochial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.shop .bottom-shop__colum-images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52%;
          flex: 0 1 52%;
  padding-bottom: 15.3%;
  position: relative;
}

@media (max-width: 1024px) {
  .shop .bottom-shop__colum-images {
    padding-bottom: 37%;
  }
}

.shop .bottom-shop__tittle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

@media (max-width: 425px) {
  .shop .bottom-shop__tittle {
    font-size: 16px;
    font-weight: 800;
  }
}

.shop .bottom-shop__fotter {
  bottom: 23px;
  right: 13px;
  position: absolute;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

@media (max-width: 425px) {
  .shop .bottom-shop__fotter {
    bottom: 3px;
  }
}

.shop .bottom-shop__top {
  left: 0;
  top: 0;
  position: absolute;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.shop .email-colum p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.shop .email-colum p:hover {
  color: #c598eb;
}

.shop .email-colum p:not(:last-child) {
  margin-bottom: 15px;
}

.shop .email-colum input {
  min-width: 308px;
  background: #272727;
  border-bottom: 1px solid white;
  color: #ebe8e6;
  opacity: 0.5;
}

.shop .email-colum input:focus {
  opacity: 1;
  border-bottom: 2px solid white;
}

.shop .email-colum input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: #C2C2C2;
}

.shop .email-colum input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #C2C2C2;
}

.shop .email-colum input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #C2C2C2;
}

.shop .email-colum input::placeholder {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #C2C2C2;
}

.shop .email-colum__button {
  padding-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}

.shop .email-colum__form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.shop .email-colum__form a {
  margin: 0 0 5px -30px;
}

.floor {
  margin-top: 10px;
}

.floor__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .floor__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.floor__images {
  padding-bottom: 83%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.floor__images:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.floor__men {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
}

.floor__men:hover .floor__active {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.floor__active {
  display: none;
  position: absolute;
  top: 40%;
  left: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 320px) {
  .floor__active {
    left: 21%;
  }
}

.floor__active a {
  font-family: 'Forum';
  line-height: 71px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  cursor: pointer;
  font-size: calc(14px + 50 * ((100vw - 320px) / 1150));
  cursor: pointer;
}

@media (max-width: 768px) {
  .floor__active a {
    font-size: 64px;
  }
}

@media (max-width: 425px) {
  .floor__active a {
    font-size: 34px;
  }
}

.floor__active a::after {
  content: '';
  position: absolute;
  width: 130px;
  height: 0px;
  border: 1px solid #FFFFFF;
  bottom: -27px;
  left: 27%;
}

@media (max-width: 425px) {
  .floor__active a::after {
    left: 15%;
  }
}

.floor__active p {
  font-family: 'Futura PT';
  font-weight: 300;
  line-height: 31px;
  /* identical to box height */
  color: #FFFFFF;
  text-align: center;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1150));
}

@media (max-width: 991.98px) {
  .floor__active {
    display: block;
  }
}

.floor__women {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.floor__women:hover .floor__active {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: block;
}

.map {
  margin-top: 20px;
}

.map__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .map__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.map__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #272727;
}

@media (max-width: 767.98px) {
  .map__input {
    width: 100%;
  }
}

.map__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 204px;
}

@media (max-width: 850px) {
  .map__form {
    padding-bottom: 179px;
  }
}

@media (max-width: 806px) {
  .map__form {
    padding-bottom: 124px;
  }
}

@media (max-width: 586px) {
  .map__form {
    padding-bottom: 20px;
  }
}

.map__form input {
  background: #272727;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 43px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  min-width: 386px;
  color: rgba(255, 255, 255, 0.4);
  border-bottom: 3px solid white;
}

@media (max-width: 1024px) {
  .map__form input {
    min-width: 286px;
  }
}

@media (max-width: 586px) {
  .map__form input {
    min-width: 170px;
  }
}

.map__form button {
  margin-bottom: 3px;
  background-color: #272727;
  margin-left: -30px;
}

.map__tittle {
  padding-top: 204px;
  font-family: 'Forum';
  font-size: 48px;
  line-height: 53px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  font-size: calc(28px + 20 * ((100vw - 320px) / 1150));
  color: #FFFFFF;
}

.map__tittle:not(:last-child) {
  margin-bottom: 16px;
}

@media (max-width: 1084px) {
  .map__tittle {
    text-align: center;
    padding-top: 104px;
  }
}

@media (max-width: 586px) {
  .map__tittle {
    padding-top: 20px;
  }
}

@media (max-width: 420px) {
  .map__tittle {
    padding-top: 10px;
  }
}

.map__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  text-align: center;
}

.map__text:not(:last-child) {
  margin-bottom: 60px;
}

.map__moskow-map {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  min-height: 604px;
}

@media (max-width: 1084px) {
  .map__moskow-map {
    min-height: 504px;
  }
}

@media (max-width: 767.98px) {
  .map__moskow-map {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .map__moskow-map {
    min-height: 300px;
  }
}

.map__moskow-map iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.galileo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  transition: all .2s ease-in-out; 
}

.galileo img:hover {
	transform: scale(1.1);

 
}

.galileo__container {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 1023.98px) {
  .galileo__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

.galileo__colum1 {
  background: #EDEDED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1023.98px) {
  .galileo__colum1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.galileo__images1 {
  padding: 0 70px 0 70px;
}

.galileo__images1:not(:last-child) {
  margin-bottom: 57px;
}

.galileo__colum-tittle {
  -ms-flex-item-align: start;
      align-self: flex-start;
  line-height: 21px;
  /* identical to box height */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #272727;
  padding-left: 30px;
}

.galileo__colum-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 30px;
}

.galileo__colum-money {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #E2B67A;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 30px;
}

.galileo__colum2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.galileo__colum2:hover .galileo__colum2-item {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 1023.98px) {
  .galileo__colum2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .galileo__colum2 .galileo__colum2-item {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.galileo__colum2-item {
  position: absolute;
  left: 30px;
  width: 100%;
  height: 100%;
  display: none;
  bottom: 30px;
  -webkit-transform: translate(0, -50);
          transform: translate(0, -50);
}

@media (max-width: 1023.98px) {
  .galileo__images2 {
    position: relative;
    padding-bottom: 60%;
  }
  .galileo__images2 img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.galileo__colum3 {
  background: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;	 		
}


@media (max-width: 1023.98px) {
  .galileo__colum3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .galileo__colum3 img {
    width: 60%;
  }
}

.galileo__item3 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.galileo__colum4 {
  background: #EDEDED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1023.98px) {
  .galileo__colum4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 1023.98px) {
	.galileo__images3 {
transform: translate( 23%, 0%);
	 }
	 
 }

.galileo__images4 {
  padding: 0 70px 0 70px;
}

.galileo__images4:not(:last-child) {
  margin-bottom: 57px;
}

.galileo__colum5 {
  background: #EDEDED;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
  padding-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1023.98px) {
  .galileo__colum5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.galileo__images5 {
  padding: 0 43px 0 43px;
}

.item-colum2__tittle {
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.item-colum2__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E7E7E7;
}

.item-colum2__maney {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #E2B67A;
}

.swiper {
  margin-top: 20px;
  background: #272727;
}

.slaider-container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
  background: #272727;
}

@media (max-width: 768px) {
  .slaider-container {
    margin-bottom: 10px;
  }
}

.swiper-slide {
  padding-bottom: 26.4%;
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 992px) {
  .swiper-slide {
    padding-bottom: 37.4%;
  }
}

@media (max-width: 992px) {
  .swiper-slide {
    padding-bottom: 90%;
  }
  .swiper-slide img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.swiper-wrapper {
  margin-left: -180px;
}

.swiper-tittle {
  padding: 100px 0 80px 160px;
  font-family: 'Forum';
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  font-size: calc(24px + 24 * ((100vw - 320px) / 1150));
}

@media (max-width: 767.98px) {
  .swiper-tittle {
    padding: 65px 0;
  }
}

@media (max-width: 425px) {
  .swiper-tittle {
    padding: 35px 0;
  }
}

.swiper-soshial {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 20px;
  padding: 80px 0 100px 160px;
}

.swiper-button-prev,
.swiper-button-next {
  padding: 20px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #39373a34;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(../img/4swiper/Line-left.svg);
}

.swiper-button-next {
  background-image: url(../img/4swiper/Line.svg);
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  bottom: 0;
  right: 0;
}

.swiper .swiper-button-next {
  top: 80%;
  right: 167px;
}

@media (max-width: 1024px) {
  .swiper .swiper-button-next {
    left: 85%;
    top: 75%;
  }
}

@media (max-width: 1023.98px)  {
  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    display: none;
  }
}

.swiper .swiper-button-prev  {
  top: 80%;
  left: 67%;
}

@media (max-width: 1024px) {
  .swiper .swiper-button-prev {
    left: 63%;
    top: 75%;
  }
}



.swiper-soshial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 500px) {
  .swiper-soshial {
    margin-left: -100px;
  }
}

.swiper-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-pagination {
  padding-left: 55%;
  padding-bottom: 105px;
}

.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  width: 8px;
  height: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #656565;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #FFFFFF;
  border: 1.8px solid #FFFFFF;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.subscription__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  .subscription__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscription__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 0 44.4% 0;
}

@media (max-width: 767.98px) {
  .subscription__images {
    padding: 0 0 65% 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.subscription__colum {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription__tittle-phone {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #272727;
  font-size: calc(10px + 8 * ((100vw - 320px) / 1150));
}

.subscription__tittle-phone:not(:last-child) {
  margin-bottom: 30px;
}

.subscription__phone {
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #959595;
  padding-bottom: 110px;
  font-size: calc(10px + 12 * ((100vw - 320px) / 1150));
}

@media (max-width: 767.98px) {
  .subscription__phone {
    padding-bottom: 10px;
  }
}

.subscription__tittle-mail {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #272727;
  font-size: calc(10px + 8 * ((100vw - 320px) / 1150));
}

.subscription__tittle-mail:not(:last-child) {
  margin-bottom: 30px;
}

.subscription__form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(10px + 12 * ((100vw - 320px) / 1150));
}

.subscription__form input {
  background: #fffefe;
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  min-width: 280px;
  color: #959595;
  border-bottom: 1.8px solid #272727;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.subscription__form input:focus {
  color: #5a5a5a;
  background: #fffefe0c;
  border-bottom: 2.8px dashed #272727;
}

.subscription__form button {
  margin-left: -35px;
  padding-bottom: 6px;
  background: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer__container {
  background: #272727;
}

@media (max-width: 767.98px) {
  .footer__container {
    margin-top: 15px;
  }
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 80px;
  gap: 15px;
  row-gap: 5px;
}

.footer__top a {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
}

.bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 621px) {
  .bottom-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 655px) {
  .bottom-footer__colum-images-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.bottom-footer__colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottom-footer__colum p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.bottom-footer__colum p:not(:last-child) {
  padding: 0 0 15px 0;
}

.bottom-footer__colum-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}

@media (max-width: 655px) {
  .bottom-footer__colum-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.bottom-footer__tittle-phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.bottom-footer__tittle-phone:not(:last-child) {
  padding: 0 0 15px 0;
}

.bottom-footer__phone {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #C2C2C2;
}

.bottom-footer__phone:not(:last-child) {
  padding: 0 0 15px 0;
}

.bottom-footer__sochial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.bottom-footer__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-footer__input input {
  background-color: #272727;
  border-bottom: 1px solid #FFFFFF;
  min-width: 280px;
  color: #C2C2C2;
  opacity: 0.6;
}

.bottom-footer__input input:focus {
  opacity: 1;
  border-bottom: 2px solid #cac9c9;
}

.bottom-footer__input button {
  background: none;
  margin-left: -30px;
  padding-bottom: 6px;
}

.bottom-footer__platform {
  padding-top: 13px;
  padding-bottom: 88px;
}
